force-app/main/default/flows/Case_Priority_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Sets Case Priority from Account size tier and customer status (before save).</description>
    <environments>Default</environments>
    <interviewLabel>Case Priority Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Priority Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Route_Priority</name>
        <label>Route Priority</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Medium</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Churning</name>
            <label>High Churning</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Account_Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High</targetReference>
            </connector>
        </rules>
        <rules>
            <name>High_Enterprise_At_Risk</name>
            <label>High Enterprise At Risk</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Account_Size_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Account_Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At_Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Low_SMB</name>
            <label>Low SMB</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Account_Size_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Low</targetReference>
            </connector>
        </rules>
    </decisions>
    <assignments>
        <name>Set_High</name>
        <label>Set High</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Medium</name>
        <label>Set Medium</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Low</name>
        <label>Set Low</label>
        <locationX>572</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
